{% load static %}
<!doctype html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'shared/styles.css' %}">
{% block styles %}
{% endblock %}
</head>
<body>
  <div class="app-links">
    <ul class="link-list">
        {% if user.is_authenticated %}   
        <li class="link-item">
            <a class="link" href="{% url 'public-index' %}">Public</a>
        </li>
        <li class="link-item">
            <a class="link" href="{% url 'members-index' %}">Members</a>
        </li>
        <li class="link-item">
            <a class="link" href="#">Officers</a>
        </li>   
        <li class="link-item">
            <a class="link" href="{% url 'logout'%}">Logout</a>
        </li>
        {% else %}
        <li class="link-item">
                <a class="link" href="{% url 'public-index' %}">Home</a>
            </li>
        <li class="link-item">
            <a class="link" href="{% url 'login'%}">Login</a>
        </li>
        {% endif %}
    </ul>
  </div>

    {% block content %}
    {% endblock %}
    <p>{{ user }}</p>
    <p>logged in: {{ user.is_authenticated }}</p>

{% block scripts %}
{% endblock %}
</body>