/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
.body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.app-links{
    padding: 0;
    margin: 0;
}
.app-links .link-list{
    float: right;
    list-style-type: none;
    padding: 0;
    position: relative;
    margin: 0;
} 
.app-links .link-list .link-item{
    text-decoration: none;
    display: inline;
    margin: 0 0.5em;
    font-family: 'Roboto', sans-serif;
} 
.app-links .link-list .link-item a{
    text-decoration: none;
    color: #007bff;
} 

/* shared pages */
.content{
    position: relative;
    top: 3em;
    text-align: center;
    width: 100%;
}
.title-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    text-align: center;
    width: 100%;
}
.title{
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.form-element{
    margin-bottom: 1em;
}



/* markdown{
    position: relative;
    left: 1em;
}
markdown img{
    max-width: 600px;
} */
/* @media only screen and (max-width: 760px) {
    .app-links .link-list{
        top:3.2em;
    } 
}
@media only screen and (max-width: 600px) {
    markdown img{
        max-width: 90%;
    }
} */
